<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-09-26T17:49:00Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3800393827</integer>
	<key>allowAnyShortcut</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomCenterSixth</key>
	<dict/>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict/>
	<key>bottomLeftSixth</key>
	<dict/>
	<key>bottomRight</key>
	<dict/>
	<key>bottomRightSixth</key>
	<dict/>
	<key>center</key>
	<dict/>
	<key>centerThird</key>
	<dict/>
	<key>centerThreeFourths</key>
	<dict/>
	<key>centerTwoThirds</key>
	<dict/>
	<key>doubleClickTitleBar</key>
	<integer>0</integer>
	<key>firstThird</key>
	<dict/>
	<key>firstThreeFourths</key>
	<dict/>
	<key>firstTwoThirds</key>
	<dict/>
	<key>footprintAnimationDurationMultiplier</key>
	<real>0.75</real>
	<key>footprintBlur</key>
	<false/>
	<key>greenButtonOverride</key>
	<true/>
	<key>hapticFeedbackOnSnap</key>
	<integer>1</integer>
	<key>hideMenubarIcon</key>
	<true/>
	<key>installVersion</key>
	<string>108</string>
	<key>internalTilingNotified</key>
	<true/>
	<key>landscapeSnapAreas</key>
	<string>[5,{"action":1},2,{"action":2},7,{"compound":-4},4,{"action":0}]</string>
	<key>larger</key>
	<dict/>
	<key>lastThird</key>
	<dict/>
	<key>lastTwoThirds</key>
	<dict/>
	<key>lastVersion</key>
	<string>108</string>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict/>
	<key>maximize</key>
	<dict/>
	<key>maximizeHeight</key>
	<dict/>
	<key>missionControlDragging</key>
	<integer>1</integer>
	<key>moveDown</key>
	<dict/>
	<key>moveRight</key>
	<dict/>
	<key>moveUp</key>
	<dict/>
	<key>nextDisplay</key>
	<dict/>
	<key>previousDisplay</key>
	<dict/>
	<key>restore</key>
	<dict/>
	<key>rightHalf</key>
	<dict/>
	<key>smaller</key>
	<dict/>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>topCenterSixth</key>
	<dict/>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict/>
	<key>topLeftSixth</key>
	<dict/>
	<key>topRight</key>
	<dict/>
	<key>topRightSixth</key>
	<dict/>
	<key>unsnapRestore</key>
	<integer>1</integer>
	<key>wasWelcomeDisplayed</key>
	<true/>
</dict>
</plist>
